html, body {
    height: 100%;
}

/*Setting the margin to 'auto' places the body directly in the center of the viewable area*/
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #777777;
    width: 960px;
    font-size: 18px;
    margin: auto;
}

h1, h2, h3 {
    display: inline-block;
    font-size: 18px;
}

/*Class that defines the properties of the boxes that take up the full width of the body*/
.full-block {
    background-color: #ebebeb;
    color: #777777;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

section {
    background-color: #ebebeb;
    color: #777777;
    width: 490px;
    padding: 5px 0px 5px 5px;
    margin: 10px 10px 10px 0px;
    text-align: center;
    
}

article {
    background-color: #777777;
    padding: 5px;
    margin: 5px 10px 5px 5px;
}

/*class that defines the properties of the containers withing the article container*/
.sub {
    background-color: #ebebeb;
    padding: 5px;
    margin: 5px;
}

aside {
    background-color: #ebebeb;
    color: #777777;
    margin: 10px 0px 10px 5px;
    text-align: center;
    width: 450px;
}
